:root {
    font-size: 16px;
    /* Couleurs principales */
    --color-primary: #aa3347;      /* couleur principale (actions, boutons) */
    --color-text: #93142f; /* hover, accent fort */
    --color-primary-darker: #551c23; /* titres importants */

    /* Couleurs secondaires */
    --color-secondary: #d4acad8b;    /* fond doux */
    --color-secondary-darker: #35030c;         /* texte principal */

    /* Couleurs d’accent */
    --color-accent: #cf8788;       /* liens, éléments secondaires */

    /* background color */
    --color-background: #f3f1eb;   /* fond global */

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-background);

} 