.news_card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    border-radius: 2rem;
    padding: 2rem;
    gap: 2rem;
    box-shadow: 0px 1px 10px var(--color-secondary-darker);
}

.news_card_title{
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.5rem;
    align-self: center;
}



.news_card_link {
    align-self: flex-end;
}