.news_card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    border-radius: 2rem;
    padding: 2rem;
    gap: 2rem;
    box-shadow: 0px 5px 10px var(--color-secondary);
    transition: transform 0.3s ease;
    align-self: center;
}

.news_card:hover {
    transform: scale(1.05);
}

.news_card_title{
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.2rem;
    align-self: center;
}

.news_card_link {
    align-self: flex-end;
}