
/* ===== HERO ===== */
.hero {
    background-image: url("../img/chats/backgound-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.hero_title {
    padding-top: 120px;
    justify-self: center;
}


/* ===== MAIN ===== */
section {
    width: 100%;
    height: 600px;
}

.actus, 
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.actus h2,
.services h2 {
    margin-top: 2rem;
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: bold;
} 

.news_list,
.services_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.services_title {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.5rem;
    align-self: center;
}

.actus_link {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-primary);
    color: white;
    border-radius: 2rem;
    text-decoration: none;
}

.services_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
}

.services_img {
    height: 350px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0px 1px 10px var(--color-secondary-darker);
}



