/* ===== NAV BAR ===== */
.nav {
    background-color: #f4c6c7d8;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 5.2rem;
}

.nav_item {
    display: flex;
}

.nav_link {
    text-decoration: none;
    text-align: center;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.nav_link:hover {
    transform: scale(1.05);
}

.nav_logo {
    height: 70px;
    transition: transform 0.3s ease;

}

.nav_logo:hover {
    transform: scale(1.05);
}

.nav_login-btn {
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    color: var(--color-primary);
    transition: transform 0.3s ease;
}

.nav_login-btn:hover {
    transform: scale(1.05);
}

/* ===== FOOTER ===== */
footer {
    height: 5.2rem;
    display: flex;
    align-items: center;
    background-color: #f4c6c7d8;
    padding-left: 2rem;
}

@media (max-width: 850px) {
    
}