/* ===== HERO ===== */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 700px;
}

.hero_title {
    padding-top: 50px;
    z-index: 2;
    margin-top: 50px;
}

.hero_video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.22);
    pointer-events: none; 
}

/* ===== MAIN ===== */*

/* ===== ALL SECTION ===== */
.actus, 
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 700px;
}

.actus h2,
.services h2 {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
} 

.news_list,
.services_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

/* ===== ACTUS ===== */
.actus h2 {
    color: var(--color-primary);
}

.actus_link {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-primary);
    color: var(--color-background);
    border-radius: 2rem;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.actus_link:hover {
    transform: scale(1.05);

}

/* ===== SERVICES ===== */
.services {
    background-color: var(--color-text);
    color: var(--color-background);
    padding-bottom: 2rem;
}

.services_title {
    color: var(--color-background);
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    align-self: center;
}

.services_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
}

.services_img {
    height: 350px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0px 5px 10px var(--color-secondary-darker);
    transition: transform 0.3s ease;
}

.services_img:hover {
    transform: scale(1.05);
}

@media (max-width: 1160px) {
    .news_list,
    .services_list {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}